body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hero .title h1 {
  display: inline;
}


#hero .title span {
  font-weight: bold;
}

.red {
  color: darkred;
}

.green {
  color: forestgreen;
}

.about-description {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 2em!important;
}